<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/mvc"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<nav class="navbar navbar-default" th:fragment="navigation">
    <div class="container-fluid">
        <div class="navbar-header">

            <span class="navbar-brand">Splitterhelden-Manager</span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/home'
                                    or #httpServletRequest.getRequestURI() == '/' ? 'active':''}">
                    <a th:href="@{/home}">Helden Management</a>
                </li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/friends' ? 'active':''}">
                    <a th:href="@{/friends}">Freunde</a>
                </li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}">
                    <a th:href="@{/login}">Login</a>
                </li>
            </ul>

            <div sec:authorize="isAuthenticated()">
                <ul class="nav navbar-nav navbar-right">
                    <li><p sec:authentication="name">name</p></li>
                    <li>
                        <form class="navbar-form" th:action="@{/logout}" method="post">
                            <input class="btn" type="submit" value="Ausloggen"/>
                        </form>
                    </li>
                </ul>
            </div>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
</body>
</html>