<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Name</th>
            <th>Helden Grad</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hero: ${heroes}">
            <td th:text="${hero.name}">Hector</td>
            <td th:text="${hero.level}">2</td>
        </tr>
        </tbody>
    </table>
    <p>This is a paragraph from home </p>
    <div class="well">
        <form class="form-inline" th:action="@{/createHero}" th:method="put">
            <div class="form-group">
                <label class="sr-only">Name</label>
                <input type="text" class="form-control" name="heroName" placeholder="Helden Name"/>
            </div>
            <button type="submit" class="btn btn-default">Held erstellen</button>
        </form>
    </div>
</section>
<footer>
    <p layout:fragment="custom-footer">This is some footer content from home</p>
</footer>
</body>
</html>